<h1>Rxjs</h1>


<p>modifier component ---- state Changes in service (Observable) ---- reciever should be updateds(subscriber/observer)</p>
<p>Observer -----   Observable(publisher)  ----   all subscribers</p>

<!-- observable(publisher)    subsription   

action: subscribe   /  unsubscirbe -->

<p>Obseravable / Subject / Rxjs Operators</p>



<a id="demoLink" #demoLink> Click here to trigger the fromEvent Operator </a>

<div class="container">
  <div class="flex_container">
    <app-modifier></app-modifier>
  </div>
  <div class="flex_container">
    <app-reciever></app-reciever>
  </div>
</div>

<label for="keyword">Search Keyword</label>
<input #keyword>